<?xml version="1.0"?>
<!--
/**
 * Copyright © Panth Infotech. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <panth_indexer_manager>
            <general>
                <enabled>0</enabled>
                <strategy>standard</strategy>
            </general>
            <tracking>
                <enabled>1</enabled>
                <retention_days>30</retention_days>
                <track_failures_only>0</track_failures_only>
            </tracking>
            <notifications>
                <notify_on_failure>0</notify_on_failure>
                <notify_email></notify_email>
            </notifications>
        </panth_indexer_manager>
    </default>
</config>
